<section class='mainCover'>
    <section class='mainCoverTwo'>
    <section class='header'>
    <div class='headerOne'>
      <div>H</div>
      <div>Transactions</div>
      <div>S</div>
    </div> 
  </section>
          <div class="mainContainer">
<div class="">
  <% if @spendigs.empty?%>
    <p class="">You don't have any transactions yet !!</p>
        <% else %>
            <ul class="">
                <li class="detailsTitle">
                    <div class="detailsCategoryIcon">
                        <div class=" "><%= @category.icon %></div>
                        <div class=" "><%= @category.name %></div>
                    </div>
                    <div class=" ">
                        <div class=" ">Track expenses effortlessly, analyze spending trends,
                        set budgets, and achieve financial goals with our intuitive spender app.
                        </div>
                    </div> 
                </li>
                <% @spendigs.each do |ex| %>
                    <li class="detailsList">
                        <div class=" ">
                            <span class=" "><%= ex.name %></span>
                            <span class=" ">$ <%=  number_with_delimiter(ex.amount)  %></span>
                        </div>
                        <div class=" ">
                            <span class=" "><%= ex.created_at.strftime("%d %B '%Y, %R") %></span>
                        </div>
                    </li>
                <% end %>
            </ul>
  <% end %>
  <div class='categoryButton'><%= link_to "Add a new Transaction", new_category_spending_path(@category), class: '' %></div>
</div>
    </section>
</section>